/**
 * The Sixty North reveal.js theme.
 *
 * Mostly just the "simple" theme with some modifications.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$mainFont: 'Lato', sans-serif;
$mainColor: #000;
$headingFont: 'News Cycle', Impact, sans-serif;
$headingColor: #000;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: #00008B;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section img {
        border: 0px solid black;
        box-shadow: none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
        word-wrap: normal;
        -webkit-hyphens: manual;
        -moz-hyphens: manual;
        hyphens: manual;
}

pre.src  {background-color: #020202; color: #dddddd}
.example {background-color: #FFFFCC;}
